main {
  padding-block: 16px;
  padding-top: 80px;
  padding-inline: 2rem !important;
  margin-bottom: 2rem;
  overflow-x: auto;
  padding-inline: 2rem;
  overflow: hidden;
}
.slice {
  width: 100%;
}
.slice-container + .slice-container {
  margin-top: 6rem;
}
.slice > span > img {
  display: inline;
  width: 80%;
}
.slice--image {
  text-align: center;
}
.content-container {
  padding-top: 3rem;
}
.content-hero-text {
  font-size: 26px;
  font-weight: 600;

  margin-top: 1.5rem;
}
.content-info-text {
  font-size: clamp(18px, 1.5vw, 24px);

  margin-top: 1.5rem;
}

.slice--inverted {
  display: flex;
  flex-direction: column;
}

.spacer {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    padding-inline: 6rem !important;
  }
  .slice-container {
    margin: 0 !important;
    display: flex;
  }
  .slice--inverted {
    flex-direction: row-reverse;
  }
  .slice {
    flex-basis: 50%;
    min-height: 100vh;
  }
  .content-container {
    padding: 0;
  }
  .content-container > div {
    height: 100vh;
  }
  .content-hero-text {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }
  .content-info-text {
    font-size: 21px;
    line-height: 2.2rem;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slice--image {
    height: 100vh !important;
  }
  .slice--image > span {
    display: grid;
    place-items: center;

    width: 50%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .slice--inverted-image > span {
    left: auto;
    right: 0;
  }
  .slice--image > span > img {
    width: 450px;
  }

  .testimonial-container {
    margin: 0;
  }

  .spacer {
    display: block;
    height: 60vh !important;
  }
  /* .slice--image > span {
    display: none;
  } */
}
