.testimonial_container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;

  margin-top: 8rem;
  /* background-color: pink; */
}
.testimonial {
  position: relative;
  width: min(90%, 520px);
  padding: 2rem;

  border: 2px solid black;
  border-radius: 8px;
  background-color: #fff;
}
.testimonial_credentials {
  display: flex;
  padding-top: 2rem;
  gap: 0.8rem;
}
.testimonial_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(250 184 0);
  background-color: rgb(138, 138, 138);
  overflow: hidden;
}
.testimonial_name {
  font-weight: 500;
}
.testimonial_reputation {
  color: rgb(130, 130, 130);
}



/* animations */

.wobble {
  animation: wobble 2.5s infinite linear;
}

@keyframes wobble {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.spin{
  animation: spin 2.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pulse{
  animation: pulse 2s infinite linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}


